Django==5.0.7
gunicorn==23.0.0
whitenoise==6.7.0
dj-database-url==3.0.1

# Optional project dependencies
pillow==10.4.0
requests==2.32.3
python-dateutil==2.9.0.post0
pytz==2024.2
sqlparse==0.5.1

# PDF / Excel / QR / CKEditor (you use these)
django-ckeditor==6.7.3
python-bidi==0.6.3
arabic-reshaper==3.0.0
reportlab==4.2.5
xhtml2pdf==0.2.16
qrcode==8.0
openpyxl==3.1.5
pypdf==5.1.0
lxml==5.3.0
beautifulsoup4==4.13.3
pandas==2.2.3

# MySQL optional (safe to keep)
mysqlclient==2.2.4
PyMySQL==1.1.1

# Security
cryptography==44.0.0
